@import url('https://fonts.googleapis.com/css2?family=Taviraj:ital,wght@0,100;0,400;0,500;0,700;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import 'swiper/css';

@tailwind base;
@tailwind components;
@tailwind utilities;


body.stop {
    overflow: hidden;
}
.popins {
    font-family: 'Poppins' !important;
}
.rubik {
    font-family: "Rubik", serif;
}
.taviraj {
    font-family: 'Taviraj';
}
.teko {
    font-family: "Teko", serif;
}
.roboto {
    font-family: 'Roboto Condensed';
}

#author .desc > p {
    @apply text-xl mb-3;
    font-family: 'Taviraj';
}
#book .desc > p {
    @apply text-xl mb-3 text-white;
    font-family: 'Taviraj';
}
#allbooks .even .book-desc{
 @apply order-1 sm:order-2;
}
#allbooks .odd .book-img {
    @apply order-2;
}
#allbooks .even .book-img{
    @apply order-2 sm:order-1;
}
#allbooks .odd .book-desc{
    @apply order-1;
}
#header, #mobile {
    @apply bg-white shadow-md;
}
#header.active, #mobile.active {
    @apply bg-white shadow-md transition-colors;
}
#header.active > ul {
    @apply text-black transition-colors;
}
#header ul li:nth-child(4){
    @apply text-3xl;
}
#header.active ul li:nth-child(4){
    @apply text-2xl transition-all;
}
[x-cloak]  {
    display: none !important;
}
.swiper-button-next,
.swiper-button-prev {
    display: none !important;
}
.youtube-user-root-container, .sk_branding {
    display: none !important;
}
.instagram-user-root-container, .sk-ww-youtube-channel-videos-item:last-child{
    display: none !important;
}
#videos .sk_branding {
    display: none !important;
    opacity: 0;
}  
.sk-title-padding {
    display: none !important;
}
.darell-books .book-img figcaption {
    display: none;
}
.darell-books .book-img figure {
    @apply mb-6;
}
.darell-books .book-img > a  {
 @apply bg-yellow-500 hover:bg-yellow-400 px-4 py-2 mt-4 rounded no-underline;
 font-family: 'Roboto Condensed';
}
button.categories.active {
    @apply bg-teal-400;
}
.videoWrapper{
    position: relative;
    padding-top: 56.25%;
    width: 100%;
  }
  .introVideo {
    position: relative;
    padding-top: 56.25%;
    width: 100%;
  }
  
  .videoWrapper iframe, .introVideo iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .loading-spinner {
    display: block;
    width: 50px;
    height: 50px;
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #3498db;
    animation: spin 2s linear infinite;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.vid-title.active {
    @apply text-red-700;
}
.sub-menu {
    @apply hidden;
}
ul.main-menu li:hover .sub-menu {
    @apply block;
}

.flipbook-viewport{
	overflow:hidden;
	width:100%;
	height:100%;
}

.flipbook-viewport .container2{
	position:absolute;
	top:50%;
	left:50%;
	margin:auto;
}

.flipbook-viewport .flipbook{
	width:922px;
	height:600px;
	left:-461px;
	top:-300px;
}

.flipbook-viewport .page{
	width:461px;
	height:600px;
	background-color:white;
	background-repeat:no-repeat;
	background-size:100% 100%;
}

.flipbook .page{
	-webkit-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-moz-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-ms-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-o-box-shadow:0 0 20px rgba(0,0,0,0.2);
	box-shadow:0 0 20px rgba(0,0,0,0.2);
}

.flipbook-viewport .page img{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin:0;
}

.flipbook-viewport .shadow{
	-webkit-transition: -webkit-box-shadow 0.5s;
	-moz-transition: -moz-box-shadow 0.5s;
	-o-transition: -webkit-box-shadow 0.5s;
	-ms-transition: -ms-box-shadow 0.5s;

	-webkit-box-shadow:0 0 20px #ccc;
	-moz-box-shadow:0 0 20px #ccc;
	-o-box-shadow:0 0 20px #ccc;
	-ms-box-shadow:0 0 20px #ccc;
	box-shadow:0 0 20px #ccc;
}

.navigation {
    @apply w-full block;
    nav{
        @apply justify-start;
    div:first-child {
        @apply justify-start space-x-2;

        p{
            @apply px-4;
        }
    }
       
    }
}
.blog-description p {
   @apply mb-4;
}